body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.hot-fix {
  height: 141px;
}
@media (max-width: 767px) {
  .hot-fix {
    height: 209px;
  }
}
/* compoents */
.head {
  text-align: center;
}
.head h4 {
  font-size: 14px;
  font-weight: normal;
  padding: 3px 0;
}
.head h5 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 70px;
}
/* sector */
.sector {
  position: relative;
  padding: 84px 0;
  background-position: center;
  background-size: cover;
}
.image1 {
  background-image: url(../images/Rectangle1.png);
}
.image2 {
  background-image: url(../images/Rectangle2.png);
}
@media (max-width: 767px) {
  .sector {
    padding: 84px 0 20px;
  }
  .image1 {
    background-image: url(../images/MRectangle1.png);
  }
  .image2 {
    background-image: url(../images/MRectangle2.png);
  }
}
.image3 {
  background-image: url(../images/Rectangle3.png);
}
.sector::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
}
.sector .content {
  z-index: 999;
  position: relative;
  color: white;
}
.sector .content h2 {
  font-size: 30px;
  font-weight: normal;
}
.sector .content .btn {
  padding: 15px 50px;
  border: solid 1px white;
  font-size: 16px;
}
.sector .content .btn a {
  text-decoration: none;
  color: white;
}
@media (max-width: 767px) {
  .sector .content {
    flex-direction: column;
  }
  .sector .content h2 {
    margin-bottom: 50px;
  }
}
/* nav First Row */
nav {
  background-color: white;
}
/* switch */
.--switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.--switch input {
  display: none;
}

.--slider {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6f6fa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.--slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  border-radius: 50%;
  background-color: #01a0c6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.--switch input:checked + .--slider {
  background-color: #e6f6fa;
}

.--switch input:focus + .--slider {
  box-shadow: 0 0 1px #e6f6fa;
}

.--switch input:checked + .--slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/*  */
/* icons section */
.mobile {
  display: none;
}
.menu .vat {
  color: #01a0c6;
}
nav form {
  position: relative;
}
nav form svg {
  position: absolute;
  align-self: center;
  right: 30px;
}
.menu-container {
  flex-direction: column;
  min-height: 85px;
  justify-content: space-between;
  align-items: end;
}
.menu-container a {
  text-decoration: none;
  color: #01a0c6;
  margin-right: 15px;
}
.menu-container a:last-of-type {
  margin-right: 0;
}
.menu li {
  margin-right: 25px;
}
.menu li:last-of-type {
  margin-right: 0;
}
.menu .count {
  position: relative;
}
.menu .count span {
  position: absolute;
  top: -7px;
  right: -14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #01a0c6;
  color: white;
  text-align: center;
}
nav .row .fit {
  width: fit-content;
}
/* Secound row  */
.dropdown {
  background-color: #f8f8f8;
}

.fit .navbar-nav li {
  margin: 0px 10px;
}
.fit .navbar-nav li a {
  color: black;
}
a.nav-link.active {
  border-bottom: 3px solid #01a0c6;
  color: #01a0c6;
}
.fit .navbar-nav li:last-of-type {
  margin: 0px 0 0 10px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler svg path {
  fill: #01a0c6;
}
.navbar-toggler div {
  color: #01a0c6;
}
/* medium screens */
@media (max-width: 1400px) {
  .fit .navbar-nav li {
    margin: 0;
  }
}
@media (max-width: 1200px) {
  .pc {
    order: 2;
  }
  .logo {
    order: 1;
  }
  .toggler {
    order: 5;
  }
  .categories {
    order: 4;
  }
  .search {
    order: 3;
  }
}
/* small screens */
@media (max-width: 767px) {
  .navbar-brand img {
    width: 105px;
    height: 40px;
  }
  .pc {
    display: none;
  }

  .logo {
    order: 1;
    padding-right: 0;
  }
  .mobile {
    display: block;
    order: 2;
    padding: 0;
  }
  .toggler {
    order: 3;
  }
  .categories {
    order: 4;
    margin: 15px 0;
    min-width: 240px;
  }
  .search {
    order: 5;
    margin-bottom: 15px;
  }

  .menu-container {
    min-height: 44px;
  }
  .menu-container ul {
    margin: 15px 0 0;
  }
  .navbar-nav {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
    padding: 20px;
    background-color: #01a0c6;
    transition: 1s;
    z-index: 999;
  }
  .navbar-nav li {
    padding: 15px 20px;
    color: white;
  }
  .navbar-nav li a {
    color: white !important;
  }
  .navbar-brand {
    margin-right: 10px;
  }
  .navbar-toggler {
    padding-right: 0;
  }
}
/* Landing */
.landing {
  position: relative;
  background-image: url(../images/Mask.png);
  background-position: center;
  background-size: cover;
  height: calc(100vh - 141px);
}
.landing:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.landing .row {
  z-index: 200;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .row .content h2 {
  font-size: 46px;
  line-height: 1.5;
  color: white;
  font-weight: normal;
  margin-bottom: 23px;
}
.landing .row .content p {
  font-size: 16px;
  line-height: 1.3;
  color: white;
}
.landing .row .content div {
  padding: 15px 40px;
  background-color: #01a0c6;
  border-radius: 8px;
  margin-top: 40px;
}
.landing .row .content div a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
.content .btn {
  position: relative;
}
.content .btn svg {
  position: absolute;
  left: 77%;
}
@media (max-width: 767px) {
  .landing .content p {
    padding-right: 40px;
  }
  .landing {
    height: calc(100vh - 209px);
  }
}
/* EXPERTISE */
.expertise {
  padding: 70px 0;
}
.expertise .exp-box {
  padding-bottom: 70px;
}
.expertise .img-holder {
  padding-bottom: 110px;
}
.expertise .btn {
  border: 2px solid #01a0c6;
  min-width: 240px;
}
.expertise .btn a {
  color: #01a0c6;
  text-decoration: none;
}
.expertise .btn-container div:last-of-type {
  display: none;
}
@media (max-width: 767px) {
  .expertise .btn-container {
    flex-direction: column;
  }
  .expertise .btn-container div:last-of-type {
    display: block;
    margin-top: 40px;
  }
  .expertise .img-holder {
    display: none !important;
  }
}
/* products */
.products {
  padding: 70px 0;
}
.master-row {
  padding-bottom: 70px;
}
.master-row .box {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 15px;
}
.master-row .box .btn {
  padding: 10px 30px;
  border: solid 1px #01a0c6;
  border-radius: 5px;
}
.master-row .box .btn a {
  color: #01a0c6;
  text-decoration: none;
  font-size: 16px;
}
.master-row .box img,
.master-row .salebox img {
  width: 100%;
}
.master-row .box p {
  position: relative;
  font-size: 16px;
}
.master-row .box p span {
  position: absolute;
  right: 10px;
  padding: 5px 12px;
  background-color: white;
  border-radius: 50px;
  color: #01a0c6;
}
.master-row .sale-box {
  height: 100%;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 15px;
  position: relative;
}
.master-row .sale-box .btn {
  padding: 10px 30px;
  border: solid 1px #01a0c6;
  border-radius: 5px;
}
.master-row .sale-box .btn a {
  color: #01a0c6;
  text-decoration: none;
  font-size: 16px;
}
.master-row .sale-box .spans {
  position: absolute;
  right: 15px;
  top: 25px;
}
.master-row .sale-box .spans span {
  margin-right: 20px;
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
}
.master-row .sale-box .spans span:last-of-type {
  padding: 5px 12px;
  background-color: white;
  border-radius: 50px;
  color: #01a0c6;
}
.master-row .sale-box .img-holder {
  margin-top: 54px;
}
.master-row .sale-box .content {
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.master-row .sale-box .content p {
  font-size: 25px;
  font-weight: bold;
}
.master-row .sale-box .content p:last-of-type {
  font-size: 14px;
  font-weight: normal;
  color: #7a7a7a;
}
.products .btn-container .btn {
  border: 2px solid #01a0c6;
  min-width: 230px;
}
.products .btn-container .btn a {
  color: #01a0c6;
  text-decoration: none;
}
@media (max-width: 767px) {
  .master-row .box {
    display: none;
  }
  .master-row .sale-box {
    padding: 15px 8px;
  }
  .master-row .sale-box .spans {
    right: 0;
  }
  .master-row .sale-box .spans span {
    margin-right: 8px;
  }
}
/* Top Products */
.top-products {
  padding: 70px 0;
}
.top-products .box {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 15px;
  text-align: start;
  height: 100%;
}
.top-products .box .btn {
  padding: 10px 30px;
  border: solid 1px #01a0c6;
  border-radius: 5px;
}
.top-products .box .btn a {
  color: #01a0c6;
  text-decoration: none;
  font-size: 16px;
}
.top-products .box img,
.top-products .salebox img {
  width: 100%;
}
.top-products .box p {
  position: relative;
  font-size: 16px;
}
.top-products .box p span {
  position: absolute;
  right: 10px;
  padding: 5px 12px;
  background-color: white;
  border-radius: 50px;
  color: #01a0c6;
}
@media (max-width: 767px) {
  .top-products,
  .image3 {
    display: none;
  }
}
/* footer */
footer {
  padding: 50px;
}
footer .logo img,
footer ul.account {
  margin-bottom: 35px;
}
footer ul li {
  margin: 15px 0;
}
footer ul li a {
  text-decoration: none;
  color: black;
}
footer ul li:first-of-type {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  footer .col-md-3 p {
    display: none;
  }
}
